<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Receptionist Login</title>
<link rel="stylesheet" th:href="@{/css/ClinicLogin.css}">
</head>
<body>

<div class="page-wrapper">
    <div class="login-card">

        <a th:href="@{/role}">Back</a>

        <h1>Receptionist Portal</h1>

        <form th:action="@{/web/login}" method="post">

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">

            <button type="submit">Login</button>

        </form>
    </div>
</div>

</body>
</html>